@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background-color: white;
  color: #111;
}
.theme {
  transition: 1s all ease;
}
.dark {
  background-color: #090d1f;
  color: #ffffff;
}
